agno
streamlit
python-dotenv
pandas
pillow
duckdb
openai
google-generativeai
google-genai
together
e2b-code-interpreter
langchain-openai
langchain-anthropic
browser-use
firecrawl-py
elevenlabs
duckduckgo-search
pydantic
typing-extensions
requests
beautifulsoup4
